# Çıktı ve Log Dosyaları
*.log
*.out

# Python Özel Dosyaları ve Sanal Ortam
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Simülasyon ve Checkpoint Dosyaları
checkpoints/

# HDOCK ve Çıktı Klasörleri (Eğer GitHub'da saklamak istemiyorsanız, sadece raw_data'yı yoksayıyoruz)
Docking_result/raw_data/
